h1 {
  color: #ff1493;
  text-align: center;
  font-weight: 800;
}

h2 {
  font-style: italic;
  text-align: center;
  color: #ff00ff;
}

p{
  font-family: sans-serif;
  text-align: center;
}

ul{
  font-size: 20px;
  line-height: 30px;
}
